/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 0;
  height: 75vmin;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #282a36 url(@site/static/img/banner.jpg) center center/cover
    no-repeat;
  color: #f8f8f2;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
